<div class="container  mt-5" >
  <!-- Test -->
  <div>
    <h6 class=" p-2 rounded text-primary font-weight-bold text-end mx-5 "> <span class="bg-info rounded p-2 font-weight-bold text-lg"> Total Task( {{tasks.length}} )</span></h6>
  </div>
  <!-- Test -->
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" >
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Task Title</label>
            <input formControlName="taskname" type="text" class="form-control" id="input1" name="name" placeholder="Task Name" required>
          
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Task Issue Date</label>
            <input formControlName="datentime" type="date" class="form-control" id="inputdate" placeholder="Date">
          </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Task Details</label>
            <textarea formControlName="taskdetails" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputCity">Location</label>
            <input formControlName="place" type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Categories</label>
            <select formControlName="categories" id="inputState" class="form-control">
              <option selected>Todo</option>
              <option>Completed</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Summitted By</label>
            <input formControlName="sbname" type="text" class="form-control" placeholder="Your Name" id="input0" name="user name"  >
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="bg-warning mt-2" *ngIf="err">
           <h6 class="bg-warning rounded text-danger">{{errMsg}}</h6>

          </div>
        <button type="submit" class="btn btn-primary pull-center col-md-6 mt-5 me-2">Add Task</button>
        
    </div>
      </form>

      <!-- Data show here  -->
      <button *ngIf="tasks.length > 0" type="btn" (click)="showTask()" class="btn btn-success pull-center mt-5"> {{view ? "Hide Task" : "Show Task"}} </button>
      <div *ngIf="view == true" class="row">

        <div>
          <app-view-task (emitedTask)="getData($event)" [alltasks] = "tasks" ></app-view-task>
        </div>

       
    </div>
      <!-- Data show here  -->
</div>
