<div class="container mt-5">
    <button (click)="showAll()" class="btn btn-warning mb-2">Reload</button>
    

    <div>
        <div class="row">
            <div *ngFor="let tsk of alltasks; " class="col col-md-4">
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{tsk.taskname}} </h5>
                      <h6 class="card-subtitle mb-2 text-muted">Submitted By:{{tsk.sbname}} </h6>
                      <p class="card-text">{{tsk.taskdetails}} </p>
                      <p class="card-text">Date: {{tsk.datentime}} </p>
                      <p class="card-text">Location: {{tsk.place}} </p>
                      <p class="card-text"> category: <span class="bg-primary" :[ngClass]="{'bg-success': tsk.categories == 'Todo'}" >{{tsk.categories}}</span> </p>

                      <a (click)="onDel(tsk.id)" class="btn btn-danger">Delete Task</a>
                     
                    </div>
                  </div>

            </div>
        </div>
    </div>
</div>
