<div class="container mt-5">
    <h5> Total Task: {{alltasks.length}}</h5>
<ng-container>

    <!-- Table o Data -->
    <h2 *ngIf="alltasks.length === 0" class="text-info">Hurray!!! You have no task</h2>
    
    <table *ngIf="alltasks.length > 0" class="table table-striped">
        <thead>
          <tr class="bg-primary">
            <th scope="col">SL. No</th>
            <th scope="col">Task Name</th>
            <th scope="col">Submitted By</th>
            <th scope="col">Task Details</th>
            <th scope="col">Date</th>
            <th scope="col">Locations</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tsk of alltasks; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{tsk.taskname}}</td>
            <td>{{tsk.sbname}}</td>
            <td>{{tsk.taskdetails}}</td>
            <td>{{tsk.datentime}}</td>
            <td>{{tsk.place}}</td>
            <td> <span> {{tsk.categories}}</span></td>
            <td><button (click)="onDel(i)" class="btn btn-danger btn-sm mx-1">&times;</button>
              <button (click)="onEdit()" class="btn btn-success btn-sm mx-1">&eacute;</button>
            </td>
            
          </tr>
        </tbody>
      </table>
    <!-- Table of Data End -->
</ng-container>

    

    <div>
        
    </div>
</div>
